{% extends 'layouts/base_layouts.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <!--begin::Post-->
    <div class="content flex-row-fluid" id="kt_content">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        <input type="text" data-kt-user-table-filter="search"
                            class="form-control form-control-solid w-250px ps-13" placeholder="Search user" />
                    </div>
                    <!--end::Search-->
                </div>
                <!--begin::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                        <!--begin::Add user-->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#kt_modal_add_user">
                            <i class="ki-duotone ki-plus fs-2"></i>Add kategory</button>
                        <!--end::Add user-->
                    </div>
                    <!--end::Toolbar-->


                    <!-- Add User Modal -->
                    <div class="modal fade" id="kt_modal_add_user" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="fw-bold">Add New Kategory</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Add Kategori Form -->
                                    <form method="POST" action="{% url 'myapp:kategory' %}">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="add-nama" class="form-label">Nama Kategori</label>
                                            <input type="text" name="nama" class="form-control" id="add-nama" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="add-department" class="form-label">Department</label>
                                            <select name="departement" id="add-department" class="form-control"
                                                required>
                                                {% for dept in departements %}
                                                <option value="{{ dept.id }}">{{ dept.nama }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save Kategori</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Edit User Modal -->
                    <div class="modal fade" id="kt_modal_edit_user" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="fw-bold">Edit Kategori</h2>
                                    <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
                                        <i class="ki-duotone ki-cross fs-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <!-- Edit Kategori Form -->
                                    <form method="POST" action="{% url 'myapp:update_kategory' %}">
                                        {% csrf_token %}
                                        <!-- Hidden field for the Kategory ID -->
                                        <input type="hidden" name="kategory_id" id="edit-user-id">

                                        <div class="mb-3">
                                            <label for="edit-nama" class="form-label">Nama Kategori</label>
                                            <input type="text" name="nama" class="form-control" id="edit-nama" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="edit-department" class="form-label">Department</label>
                                            <select name="departement" id="edit-department" class="form-control"
                                                required>
                                                {% for dept in departements %}
                                                <option value="{{ dept.id }}">{{ dept.nama }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body py-4">
                <!--begin::Table-->
                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                    <thead>
                        <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">

                            <th class="min-w-1px">No</th>
                            <th class="min-w-125px">Name</th>
                            <th class="min-w-125px">Departement</th>
                            <th class="text-end min-w-100px">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 fw-semibold">
                        {% for kategori in kategory %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ kategori.nama }}</td>
                            <td>{{ kategori.departement.nama }}</td>
                            <td>
                                <div class="d-flex justify-content-end flex-shrink-0">
                                    <!-- Edit Button -->
                                    <button type="button"
                                        class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                                        data-bs-toggle="modal" data-bs-target="#kt_modal_edit_user"
                                        data-id="{{ kategori.id }}" data-nama="{{ kategori.nama }}"
                                        data-department-id="{{ kategori.departement.id }}">
                                        <i class="ki-duotone ki-pencil fs-2">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                        </i>
                                    </button>

                                    <!-- Delete Form -->
                                    <form method="POST" action="{% url 'myapp:delete_kategory' %}" class="delete-kategory-form" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="kategory_id" value="{{ kategori.id }}">
                                        <button type="submit"
                                            class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                            <i class="ki-duotone ki-trash fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                                <span class="path4"></span>
                                                <span class="path5"></span>
                                            </i>
                                        </button>
                                    </form>
                                    

                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">No Kategori found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--end::Table-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Post-->
</div>
<!--end::Container-->






<!--begin::Javascript-->
<script>var hostUrl = "{% static 'assets/' %}";</script>
<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Vendors Javascript(used for this page only)-->
<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<!--end::Vendors Javascript-->
<!--begin::Custom Javascript(used for this page only)-->

<script src="{% static 'assets/js/custom/apps/user-management/users/list/export-users.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/user-management/users/list/add.js' %}"></script>
<script src="{% static 'assets/js/widgets.bundle.js' %}"></script>
<script src="{% static 'assets/js/custom/widgets.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'assets/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
<script src="{% static 'assets/js/custom/utilities/modals/create-app.js' %}"></script>
<script src="{% static 'assets/js/custom/utilities/modals/users-search.js' %}"></script>
<script src="{% static 'assets/js/custom/kategory/kategory.js' %}"></script>
<!--end::Custom Javascript-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--end::Javascript-->

{% endblock %}